<?xml version="1.0"?>
<module name="minidriver-data">
	<type>Element</type>
	<classification>Driver</classification>

	<description>
	        <short>Mini Driver Data Utility</short>
	        <abstract>
	                <![CDATA[The Mini Driver Data Utility.]]>
	        </abstract>
	</description>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>

	<contents>
		<component id="data" generated="true">
			<location basedir="{cpu}/o{-:endian}"
				 runtime="true">mdrvr-data</location>
		</component>
	</contents>
</module>
